/* changement de la couleur de l'arrière plan */
body{
    width: 100%;
    background-color: lightgray;
    
    
}
/* changement de la couleur du fond du contenu qui fera 80% de la page totale et sera centré*/
.contenu{
    width : 80%;
    margin : auto;
    background-color: rgb(230, 230, 230);

}

header{
    width: 100%;
    background-color:rgb(230, 230, 230);
    
}
/* Définition d'attribut : couleur, taille de police, taille du container*/
.bande_noir{
    width: 100%;
    background-color: rgb(66, 66, 66);
    font-size : xx-large;
    height: 5%;
    color : white;  
    padding-bottom: 1px;
}

.profile {
    position: relative;
    width : 100%;
    
    
}
/* Bloc avec nom prénom, profession */
.intro{
    
    text-align: center;
    background-color: rgb(85, 85, 85);
    padding : 15px;
    padding-bottom: 6%;
    color : white;
    font-family :  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    
    
}
/* positionnement de la photo entre les 2 blocs et centré */
.photo {
    position: absolute;
    z-index: 1;
    text-align: center;
    left : 50%;
    transform: translate(-50%,-50%);
    
    
     
}
/* Rendre l'image ronde et definition de sa résolution */
.photo img{
    border-radius: 200px;
    height :175px; 
    width: 175px;   
}

/* Box contenant la description et les réseaux */
.presentation {
    position: relative;
    text-align: center;;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding : 1%;
    border: ridge rgb(224, 224, 224);
    box-shadow : 6px 6px 3px rgb(219, 217, 217);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(240, 240, 240);
}
/* placement des icones des réseaux */
.social_network img {
    margin-top : 50px;
    margin-right: 25px;
    margin-left: 25px;
} 
/* supression du "_" entre les icones */
.social_network a {
        text-decoration: none;
    }

/* structures des 2 boutons */
input {
    width : 12.5%;
    line-height: 2.5;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: rgb(61, 172, 192);
    cursor: pointer;
    margin-right: 25px;
    margin-left: 25px;  
}


/* Bloc contenant toutes les expériences, placement de celui-ci */
.experience {
    position: relative;
    margin-top: 6%;
    left: 10%;
    width : 80%;
    margin-bottom: 20%;
    text-align: left;
    font-family: 'Comic Sans MS', cursive;
   
    
   
}
/* Structure du titre "EXPERIENCE"*/
.experience h2 {
    text-align: center;
    color :rgb(66, 66, 66);
    letter-spacing: 2.5px;
}


/* placement et défnition de l'exp1 */
.exp_1{
    position: absolute;
    width :35%;
    left : 5%;
    margin-top : 5%;
    background-color :rgb(243, 243, 243);
    
       
}
/* bloc contenant la description de l'expérience 1 */
.exp_1_content{
    padding : 20px;
    border: ridge rgb(224, 224, 224);
    border-top-style : none ;
    border-left: none;
    box-shadow : 6px 6px 3px rgb(219, 217, 217);
   
}
/* attributs donnés à tous les titres des expériences */
.bandeau_noir{
    background-color: rgb(66, 66, 66);
    color: white;
    padding : 3px;
   
    
}
/* placement et défnition de l'exp2 */
.exp_2 {
    position: absolute;
    width :35%;
    right : 5%;
    margin-top : 12%;
    background-color :rgb(243, 243, 243);
    
    }
/* bloc contenant la description de l'expérience 2 */
.exp_2_content{
    padding : 20px;
    border: ridge rgb(224, 224, 224);
    border-top-style : none ;
    border-left: none;
    box-shadow : 6px 6px 3px rgb(219, 217, 217);
    font-family: 'Comic Sans MS', cursive;
    }

/* Structure des triangles qui pointent vers la droite  */
.triangle-right::before {
      content: "";
      position: absolute;
      top: 0;
      left: 99%;
      width: 0;
      height: 0;
      border-top: 50px solid rgb(66, 66, 66);
      border-right: 50px solid transparent;
  } 
/* Structure des triangles qui pointent vers la gauche  */
  .triangle-left::before {
      content: "";
      position: absolute;
      top: 0;
      right : 99.9%;
      width: 0;
      height: 0;
      border-top: 50px solid rgb(66, 66, 66);
      border-left: 50px solid transparent;

}
/* Structure du trait central bleu */
.line{
    position: absolute;
    width : 0.2rem;
    height : 2000%;
    left : 50%;
    background-color:rgb(61, 172, 192);
    top: 1300%;
    transform: translate(-50%,-50%);
}

/* Structure des 4 boules bleu */
.bowl {
    position : absolute;
    border-radius: 50%;
    width: 0%;
    height: 0;
    border: 15px solid rgb(61, 172, 192);
    left : 50%;
    transform: translate(-50%,-50%);

}
/* Positionnement de la boule 1 face à l'exp1 */
.bowl1{
    margin-top: 4.5%;   
}
/* Positionnement de la boule 2 face à l'exp2 */
.bowl2 {
    margin-top: 11.5%;
}
/* Positionnement de la boule 3 face à l'exp3 */
.bowl3{
    margin-top: 34.5%;
}
/* Positionnement de la boule 4 face à l'exp4 */
.bowl4{
    margin-top: 41.5%;
}

/* placement et défnition de l'exp3 */
.exp_3 {
    position: absolute;
    width :35%;
    left :5%;
    margin-top : 35%;
    background-color :rgb(243, 243, 243);   
}
/* bloc contenant la description de l'expérience 3 */
.exp_3_content{
    padding : 20px;
    border: ridge rgb(224, 224, 224);
    border-top-style : none ;
    border-left: none;
    box-shadow : 6px 6px 3px rgb(219, 217, 217);
}   

/* placement et défnition de l'exp4 */    
.exp_4 {
    position: absolute;
    width :35%;
    margin-top : 42%;
    right : 5%;
    background-color :rgb(243, 243, 243);
    } 
/* bloc contenant la description de l'expérience 4 */
.exp_4_content{
    padding : 20px;
    border: ridge rgb(224, 224, 224);
    border-top-style : none ;
    border-left: none;
    box-shadow : 6px 6px 3px rgb(219, 217, 217);
}   
/* Bloc en flexbox qui contient les 3 sous blocs définition de ceux-ci */
.skills {
    
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding : 20px;
    margin-top : 4%;
    font-size: 20px;
    height: 50%;
}
/* Structure et placement du tire SKILLS */
.title_skills{
    text-align: center;
    color :rgb(66, 66, 66);
    letter-spacing: 2.5px;
    margin-top: 57.5%;
    font-family: 'Comic Sans MS', cursive;
}

/* Structure de la box skill1 */
.skill_1  { 
    background-color:rgb(66, 66, 66);
    color: white;
    width : 20%;
    padding : 20px;  
    
}

/* Structure des barres de progression */
.skill_progress{
    background-color: rgb(192, 192, 192); 
        width: 80%; 
        border-radius: 15px; 
}

/* Structure des barres de progression acquise */
.skill {
    background-color: rgb(116, 194, 92); 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
     border-radius: 15px; 
}
/* Définition de la taille de la progression acquise pour cet item */
.python {
    width : 70%;
}
/* Définition de la taille de la progression acquise pour cet item */
.html {
    width : 70%;
}
/* ..... */
.java {
    width : 30%;
}

.git {
    width : 80%;
}
.SQL {
    width : 50%;
}


/* Structure de la box skill2 */
.skill_2 {
    color: white;
    background-color: rgb(66, 66, 66);
    width : 20%;
    padding : 20px;
} 
/* Structure des barres de progression acquise */
.pers {
    background-color: rgb(116, 194, 92); 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
     border-radius: 15px; 
}
/* Définition de la taille de la progression acquise pour ces items */
.engage {
    width: 100%;
}
.curieux {
    width : 100%;
}
.enth {
    width : 90%;
}
.conv {
    width : 90%;
}
/* Structure de la box skill1 */
.skill_3 {

   background-color: rgb(66, 66, 66);
    color: white;
    width : 20%;
    padding : 20px;
}
/* Structure des barres de progression acquise */
.lang {
    background-color: rgb(116, 194, 92); 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
     border-radius: 15px; 
}
/* Définition de la taille de la progression acquise pour ces items */
.fr {
    width : 100%
}
.ang{
    width : 80%;
}
.esp{
    width: 50%;
}



/* MEDIA QUERY   */


@media (max-width : 1830px) {
    .line{
        height: 1900%;
    }
    input {
        width : 20%;
    }
}

@media (max-width : 1654px) {
    .line {
        top : 1190%;
        height : 1700%;
        
    }
}
@media (max-width : 1580px) {
    .photo img{
        width : 150px;
        height: 150px;
    }

    .line{
        top : 1125%;  
    }
    .experience{
        font-size: 0.9em;
    }
    .experience h2{
        font-size: 1.5em;
    }
  
}

@media (max-width : 1406px) {
    .photo img{
        width: 140px;
        height : 140px;
    }

    .exp_3 {
        margin-top: 42%;
    }
    .exp_4 {
        margin-top: 49%;
    }

    .title_skills {
        margin-top : 70%;
    }
    .bowl3 {
        margin-top: 41%;
    }
    .bowl4 {
        margin-top: 48%;
    }
}

@media (max-width : 1280px) {
    .photo img{
        width: 130px;
        height : 130px;
    }

    .exp_3 {
        margin-top: 48%;
        
    }
    .exp_4 {
        margin-top: 55%;
        
    }

    .title_skills {
        margin-top : 75%;
    }
    .bowl3 {
        margin-top: 48%;
    }
    .bowl4 {
        margin-top: 55%;
    }
    /* .box {
        height :175px;
    } */
}

@media (max-width : 1176px) {

    .title_skills {
        margin-top: 82%;
    }

    input {
        width : 25%;
    }
    .exp_1 {
        left : 3%;
    }
    .exp_3 {
        left: 3%;
        margin-top: 50%;
    }
    .exp_2 {
        right : 3%;
    }
    .exp_4{
        right:3%;
        margin-top: 57%;
    }
    .bowl3{
        margin-top: 50%;
    }
    .bowl4 {
        margin-top: 57%;
    }
}

@media (max-width : 1048px) {

    
    .photo img {
        width: 125px;
        height: 125px;
        left: 50%;
        
    }
    .social_network img {
        width : 50px;
        height: 50px;
    }

    .experience{
        font-size: large;
    }

    .box { 
        height : 140px;
    }
    .exp_1{
        width : 75%;
    } 
    .exp_2 {
           width : 75%;
           margin-top : 55%;
       }
    .exp_3 {
        width : 75%;
        margin-top: 106%;
       }
    .exp_4 {
        width : 75%;
        margin-top: 156%;
    
    }
    
    .bowl {
        display: none;
       }
    .line {
        display: none;
    }

    .title_skills {
        margin-top : 165%;
        font-size: large;
    }


}

@media (max-width : 960px){

    .bande_noir {
        font-size: x-large;
    }
    .photo img {
        width : 110px;
        height : 110px;
    }

    .title_skills {
        margin-top: 170%;
    }
}

@media (max-width : 880px){
    input {
        width : 30%;
    }

    .experience {
        font-size: medium;
    }
    .exp_2 {
        margin-top: 65%;
    }

    .exp_3 {
        margin-top: 125%;
    }

    .exp_4 {
        margin-top: 185%;
    }

    .title_skills {
        margin-top: 198%;
        font-size: medium;
    }
}

@media (max-width : 727px) {
    .photo img {
        width: 90px;
        height: 90px;
    }
    .presentation {
        font-size: medium;
    }
    input {
        font-size: 0.9em;
    }
    .exp_2 {
        margin-top: 80%;
    }
    
    .exp_3 {
        margin-top: 150%;
    }
    .exp_4 {
        margin-top: 220%;
    }

    .title_skills {
        margin-top: 230%;
        font-size: 0.9em;
    }
    .skills {
        font-size: medium;
    }
}

@media (max-width : 625px) {
    .intro {
        font-size: medium;
    }
    .photo img {
        width : 75px;
        height: 75px;
    }
    .presentation {
        font-size: 0.8em;
    }
    .social_network img {
        width: 35px;
        height : 35px;
        margin-top: 20px;
    }

    .experience {
        font-size: small;
    }
    .box {
        height : 100px;
    }
    .exp_2 {
        margin-top: 75%;
    }
    .exp_3 {
        margin-top : 145%;
    }
    .exp_4 {
        margin-top: 215%;
    }
}

@media (max-width : 600px) {
    .presentation {
        font-size: small;
    } 
    .skills {
        font-size : small;
        }
    .skill {
        font-size : small;
        }
    .lang {
        font-size: small;
    }
    .pers {
        font-size: small;
    }
    .exp_3_content {
        height: auto;
    }
    .photo {
        left : 50.5%;
    }
}

@media (max-width : 593px) {
    .exp_3 {
        margin-top : 140%;
    }
    .exp_4 {
        margin-top: 210%;
    }
}

@media (max-width : 544px) {

    .exp_2 {
        margin-top : 85%;
    }
    .exp_3 {
        margin-top : 160%;
    }
    .exp_4 {
        margin-top: 245%;
    }
    .title_skills{
        margin-top: 255%;
    }
}
@media (max-width : 520px ) {
    .contenu {
        font-size: smaller;
    }
    .bande_noir {
        font-size: small;
    }
    .intro {
        font-size: small;
    }
    .photo img {
        width : 65px;
        height: 65px;
    }
    .presentation {
        font-size: 0.7em;
    }
    .social_network img {
        margin-right: 20px;
        margin-left: 20px;
    }

    .experience {
        font-size: smaller;
    }
    .box {
        height : 100px;
    }
    .exp_2 {
        margin-top: 75%;
    }
    .exp_3 {
        margin-top : 145%;
    }
    .exp_4 {
        margin-top: 215%;
    }
    .title_skills {
        margin-top: 230%;

    }
}

@media (max-width : 510px) {
    .exp_2 {
        margin-top : 85%;
    }
    .exp_3 {
        margin-top : 160%;
    }
    .exp_4 {
        margin-top: 235%;
    }
    .title_skills{
        margin-top: 250%;
    }
}

@media (max-width : 470px) {
    .skills {
        font-size : smaller;
        }
    .skill {
        font-size : smaller;
        }
    .lang {
        font-size: smaller;
    }
    .pers {
        font-size: smaller;
}
}

